<div class="ChatHeader">
    <a href="http://localhost:8080/realtimeproducts"><input  class="pagebutton" type="button" onclick="" name="" value="Ir a Real Time Products"></a>
    <a href="http://localhost:8080/chat"><input  class="pagebutton" type="button" onclick="" name="" value="Ir al Chat"></a>
</div>
    <div class="listDiv">
        <h1>Lista de Productos Actuales </h1>
        <div id="Listado">

            {{#each productos}}
            <div class="productDiv">
                <p class="title">{{this.title}}</p>
                <p>{{this.description}}</p>
                <img src={{this.thumbnail}} width="100em" height="100em" alt="imagen" />
                <p><b>Precio:</b> {{this.price}}</p>
                <p><b>Codigo de Producto:</b> {{this.code}}</p>
                <p><b>Stock Disponible::</b> {{this.stock}}</p>
            </div>
            {{/each }}
        </div>
    </div>

