<div>
<div class="container">
    <div class="listDiv">
        {{#if productos}}
        <h1 id="Ltitle">Lista de Productos Actuales </h1>
        <div class="paginationButtonDiv">

            {{#if pageConfig.prev}}
            
             {{!-- <a  href="http://localhost:8080/products/?query={{pageConfig.query}}&sort={{pageConfig.sort}}&page={{pageConfig.prev}}"><input  class="button" type="button" onclick="" name="" value="Anterior"></a> --}}
             <a  href={{pageConfig.prevLink}}"><input  class="button" type="button" onclick="" name="" value="Anterior"></a>
            {{/if }}
            {{#if pageConfig.next}}
            <a href={{pageConfig.nextLink}}><input  class="button" type="button" onclick="" name="" value="Siguiente"></a>
            {{!-- <a href="http://localhost:8080/products/?query={{pageConfig.query}}&sort={{pageConfig.sort}}&page={{pageConfig.next}}"><input  class="button" type="button" onclick="" name="" value="Siguiente"></a> --}}
            {{/if }}
            </div>
        <div id="Listado">
            
            {{#each productos}}
            <div class="productDiv">
                <p class="title"><b>{{this.title}}</b></p>
                <p>{{this.description}}</p>
                <img src={{this.thumbnail}} width="100em" height="100em" alt="imagen" />
                <p><b>Precio:</b> {{this.price}}</p>
                <p><b>Codigo de Producto:</b> {{this.code}}</p>
                {{#if this.status}}
                <p><b>Stock Disponible: </b> {{this.stock}}</p>
                <input  class="button" type="button" onclick="AddtoCart({{this.id}})" name="" value="Añadir al Carro">
                {{else }}
                <input  class="button" type="button" onclick="" name="" value="Producto No disponible">
                {{/if  }}
            </div>
            {{/each }}


        </div>
        {{else }}
        <h1 id="Ltitle"></h1>
        <div id="Listado">
        </div>
        <div id="NoProdHero">
        </div>
        {{/if }}
    </div>
    <div class="formDiv sortDiv">
        <div>
            <a href="http://localhost:8080/products/"><input  class="button" type="button" onclick="" name="" value="Todos"></a>
            <a href="http://localhost:8080/products/?query=Games&sort={{pageConfig.sort}}&page=1"><input  class="button" type="button" onclick="" name="" value="Games"></a>
            <a href="http://localhost:8080/products/?query=Clothing&sort={{pageConfig.sort}}&page=1"><input  class="button" type="button" onclick="" name="" value="Clothing"></a>
            <a href="http://localhost:8080/products/?query=Misc&sort={{pageConfig.sort}}&page=1"><input  class="button" type="button" onclick="" name="" value="Misc"></a>
        </div>
        <div>
            {{!-- {{#if (eq sort 'Employer')}} --}}
            
            <a href="http://localhost:8080/products/?query={{pageConfig.query}}&sort=ASC&page={{pageConfig.page}}"><input  class="pagebutton" type="button" onclick="" name="" value="Orden Ascendente"></a>
            <a href="http://localhost:8080/products/?query={{pageConfig.query}}&sort=DESC&page={{pageConfig.page}}"><input  class="pagebutton" type="button" onclick="" name="" value="Orden Descendente"></a>
            {{!-- {{/if }} --}}
            {{!-- {{#if (sort eq "DESC") }}
            {{/if }} --}}
        </div>
    </div>
</div>
{{!-- <div style="margin-top: 10vh; height: 100%"></div> --}}
</div>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/products.js" ></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11" ></script>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
