    <div class="listDivHome" >
        <b class="maintitle">Compra Exitosa! </b>
        <div class="ticketDiv">
            <p >Numero de Ticket: {{ticketData.code}} </p>
            <p class="">Hora de Compra: {{ticketData.purchase_datetime}} </p>
            <p class="">Total de la compra: {{ticketData.amount}} </p>
            <p class="">Comprador: {{ticketData.purchaser}} </p>
        </div>
        {{#if left}}
        <div class="divDeclines">
                <p> Aunque algunos productos no tenian stock suficiente: </p>
            {{#each left}}
                <div class="ticketDeclines">
                <p><b>{{this.title}}</b></p>
                <p>{{this.description}}</p> 
                {{!-- <img src={{this.thumbnail}} width="100em" height="100em" alt="imagen" /> --}}
                <p><b>Precio:</b> {{this.price}}</p>
                <p><b>Codigo de Producto:</b> {{this.code}}</p>
                <p><b>Stock Disponible: </b> {{this.stock}}</p>
                </div>
            {{/each }}
        </div>
        {{/if}}
    </div>
      <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <script src="/socket.io/socket.io.js" ></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" ></script>
  <script src="/js/purchase.js" ></script>


