<div>
<div class="ChatHeader">
    <a href="http://localhost:8080/"><input  class="pagebutton" type="button" onclick="" name="" value="Ir a Home"></a>
    <a href="http://localhost:8080/chat"><input  class="pagebutton" type="button" onclick="" name="" value="Ir al Chat"></a>
</div>
<div class="container">
    <div class="listDiv">
        <h1>Lista de Productos Actuales </h1>
        <div id="Listado">

            {{#each productos}}
            <div class="productDiv">
                <p class="title"><b>{{this.title}}</b></p>
                <p>{{this.description}}</p>
                <img src={{this.thumbnail}} width="100em" height="100em" alt="imagen" />
                <p><b>Precio:</b> {{this.price}}</p>
                <p><b>Codigo de Producto:</b> {{this.code}}</p>
                <p><b>Stock Disponible: </b> {{this.stock}}</p>
                <input  class="button" type="button" onclick="Borro({{this.id}})" name="" value="Borrar">
            </div>
            {{/each }}
        </div>
    </div>
    <div class="formDiv">
        <h1> Insertar un nuevo producto </h1>
        <form id="productForm">
            <label for="title">Nombre del Nuevo Producto</label><br>
            <input type="text" id="title" name="title" placeholder="Ingrese nombre del producto"><br>
            <label for="description">Descripcion:</label><br>
            <input type="text" id="description" name="description" placeholder="Agregue una descripcion."><br><br>
            <label for="price">Precio:</label><br>
            <input type="text" id="price" name="price" placeholder="Agregue el precio..."><br><br>
            <label for="thumbnail">Imagen:</label><br>
            <input type="text" id="thumbnail" name="thumbnail" placeholder="Ingrese aqui la url de la imagen del producto."><br><br>
            <label for="code">Codigo de Producto:</label><br>
            <input type="text" id="code" name="code" placeholder="Ingrese codigo del producto."><br><br>
            <label for="stock">Stock:</label><br>
            <input type="text" id="stock" name="stock" placeholder="Ingrese Stock disponible."><br><br>
            <input class="submitbutton" type="submit" value="Agregar Producto">
        </form>
        <p id="mensajeError"></p>
        <p id="mensajeConfirmacion"></p>
    </div>
</div>
</div>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/realtimeproducts.js" ></script>
