<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="stylesheet" href="/css/{{style}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon//favicon-16x16.png">
<link rel="manifest" href="/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

</head>

<body>
    <div class="header">
        <div class="headerLogo">
            <a href="http://localhost:{{port}}/"><img height="75px" src="/img/SPIKAGAMES.PNG"></a>
        </div>
        <div class="headerButtonContainer">
            {{#if cart}}
                {{#if admin}}
                    <a href="http://localhost:{{port}}/admin/realtimeproducts"><input  class="pagebutton" type="button" onclick="" name="" value="ABM Productos"></a>
                {{else}}
                    <a href="http://localhost:{{port}}/carts/{{cart}}"><input class="pagebutton featuredbutton" type="button" onclick="" name="" value="Mi Carrito"></a>
                    <a href="http://localhost:{{port}}/products"><input  class="pagebutton" type="button" onclick="" name="" value="Productos"></a>
                    <a href="http://localhost:{{port}}/chat"><input  class="pagebutton" type="button" onclick="" name="" value="Chat"></a>
                {{/if}}
            <a href="http://localhost:{{port}}/auth/logout"><input  class="pagebutton logoutbutton" type="button" onclick="" name="" value="Desloguearse"></a>
            {{else}}
            {{#if user}}
                <a href="http://localhost:{{port}}/auth/logout"><input  class="pagebutton logoutbutton" type="button" onclick="" name="" value="Desloguearse"></a>
            {{else}}
            <a href="http://localhost:{{port}}/auth/login"><input  class="pagebutton" type="button" onclick="" name="" value="Login"></a>
            <a href="http://localhost:{{port}}/auth/register"><input  class="pagebutton" type="button" onclick="" name="" value="Register"></a>
            {{/if}}
        {{/if}}
        </div>
    </div>
    {{{body}}}    
    <div class="footer">
        <div >
            Copyright © - 2023
        </div>
        <div >
        Desarrollado por Sebastian Picardi  
        </div>
    </div>
</body>

</html>